<!DOCTYPE html>
<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">My channel</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/news">News</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/art">Fun art</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/links">Links</a>
</nav>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">The idea of the channel</h5>
    <p class="card-text">Hi there! Hello everyone! Welcome to my site dedicated to my youtube 
    channel called Dwarfishlife. I would like to share the idea of the channel. So, the general 
    idea is to improve my English(My native language is Russian) and struggle with personal 
    complexes. My Lord bless the internet it allows us to do it privately! I hope someone who 
    will watch my channel will be inspired to broaden their borders for learning English and 
    to find new horizons of the unlimited world. I want to show everyone on my own example 
    that you can do everyone and it doesn't matter how strong is your skill and how cool 
    charisma you obtained. It's important to try and endure and life will repay you. My channel
     is about roguelike videogames, roleplaying, fantasy. So, feel free to text to me:)</p>
  </div>
</div>