<nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" href="../">My channel</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/news">News</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/art">Fun art</a>
    <a class="flex-sm-fill text-sm-center nav-link active" href="#">Links</a>
  </nav>
  
  <table class="table caption-top">
    <thead>
    </thead>
    <tbody>
      <tr>
        <td>Element:</td>
        <td><a href="https://matrix.to/#/@the_pigeon_is_eating:bedefaced.space">@the_pigeon_is_eating</a></td>
      </tr>
      <tr>
        <td>PersonalBlog:</td>
        <td><a href="https://dungeonkeeper.tk/" target="_blank">dungeonkeeper</a></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>dwarfishlife@gmail.com</td>
      </tr>
      <tr>
        <td>youtube:</td>
        <td><a href="https://www.youtube.com/channel/UCyUN_erjoOaXB_tg-4wxFmA" target="_blank">Dwarfishlife</a></td>
      </tr>
    </tbody>
  </table>